<br>

<script src="/vendor/bootstrap/jquery-3.5.1.slim.min.js"></script>
<script src="/vendor/bootstrap/popper.min.js"></script>
<script src="/vendor/bootstrap/bootstrap.min.js"></script>
</body>
</html>